<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello Kumar's World</title>
  <script>
      const apiUrl = "http://localhost:8000/get-data";

      async function fetchData() {
        try {
          const response = await fetch(apiUrl);
          if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
          }
          const data = await response.json();
          console.log(data);
        } catch (error) {
          console.error('Failed to fetch data:', error);
        }
      }

      // 2 sec intervals to hit api end point
      let intervalId = setInterval(fetchData, 2000);
  </script>
</head>
<body>
  <h2>IOT Insighter</h2>
</body>
</html>
